<h1>New Adventure</h1>


<body>
	<!--
	Start of DoubleClick Floodlight Tag: Please do not remove
	Activity name of this tag: EC Test FLDLT Activity
	URL of the webpage where the tag is expected to be placed: http://majority.co
	This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
	Creation Date: 05/08/2015
	-->
	<script type="text/javascript">
	var axel = Math.random() + "";
	var a = axel * 10000000000000;
	document.write('<iframe src="http://4853742.fls.doubleclick.net/activityi;src=4853742;type=ectes0;cat=ec-fldlt;u1=[sitename];ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
	</script>
	<noscript>
	<iframe src="http://4853742.fls.doubleclick.net/activityi;src=4853742;type=ectes0;cat=ec-fldlt;u1=[sitename];ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
	</noscript>
	<!-- End of DoubleClick Floodlight Tag: Please do not remove -->
</body>

	<%= render 'form' %>
	
	
	<!-- 'Back' is the placeholder text for the link that will lead to "adventures_path" -->
	<%= link_to 'Back', adventures_path %>
